/* General */

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Fira Sans;
}

/* Home Section */

.nav {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
    padding: 0 200px;
    color: #404040;
}

.navTitle {
    font-size: large;
    cursor: pointer;
}

.navMenu {
    font-size: large;
    display: flex;
    list-style: none;
}

.navLink {
    cursor: pointer;
    margin: 0 25px;
}