section {
    margin: 0;
    padding: 10% 25% ;
    background-image: linear-gradient(
      to bottom right, 
     #00ffea, #187bbd
    );
    font-size:xx-large;
}

h1{
  margin: 0;
  color: aliceblue;
}



